@media(max-width: 991px){
    .card_des{
        display:none !important;
    }
    .card_mob{
        display:block !important;
    }
    .main_container {
        height: 826px !important;
        align-items: center !important;
        justify-content: flex-start !important;
    }
    .main_slogan_container {
        left: 0 !important;
        width: 89%;
        margin-top: 20%;
        height: 23%;
    }
    .slogan_live {
        font-size: 18px !important;
        line-height: 1.3 !important;
        margin-bottom: 1.3% !important;
    }
    .main_slogan {
        display:none !important;
    }
    .slogan_main_mob{
        font-size: 32px  !important;
        line-height: 40px  !important;
        display:block !important;
    }

    .slogan_sub {
        font-size: 18px !important;
    }

    .main_sub_container {
        margin-top: 48px !important;
    }
    .main_sub_box:first-child {
        margin-right: 16.6% !important;
        margin-left: 5.5%  !important;
    }

    .sub_title {
        font-size: 14px !important;
        line-height: 1.1 !important;
        margin-bottom: 4px;

    }
    .sub_content {
        font-size: 18px !important;
    }

    .main_img {
        position: relative !important;
        width: 252px !important;
        height: 504px !important;
        top: 6.5% !important;
        justify-content: flex-start;
        left:3% !important;
    }
    .main_img img{
        max-height: 100%;
        max-width: auto !important;

        top: 0 !important;
    }
    .main_box{
        width: 144px !important;
        margin-bottom: 20%!important;
        margin-left: 12.5% !important;
        display:flex;
        z-index: 100;



    }
    .main_item_box {
        width: 30% !important;
    }
    .main_detail_box {
        width: 70% !important;
    }
    .upcoming_container {
        width: 100%;
    }
    .upcoming_contents_container {
        width: 89% !important;
    }
    .upcoming_buttons {
        font-size: 14px !important;
        width: 38.125% !important;
        margin-bottom: 4.3vh !important;
    }
    .upcoming_carousel {
        width: 16.25% !important;

    }
    .upcoming_title{
        font-size: 24px !important;
        margin-bottom: 11px  !important;
    }
    .selected {
        width: 38.46% !important;
        height: 6px !important;

    }
    .carousel {
        width: 6px !important;
        height: 6px !important;
    }

    .upcoming_cards {
        display: block !important;
        overflow-x: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;

    }
    .upcoming_cards::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    .carousel_slider{
        width: 203%;
        display: flex !important;
        justify-content: space-between;
    }

    .upcoming_card {

        width: 24%;
    }

    .card {
        width: 100% !important;
        border-radius: 10px !important;
        height: 232px !important;
    }
    .card_bg_grad{
        border-radius: 10px !important;
    }

    .card_titles {
        width: 87% !important;
        flex-direction: column;
    }

    .brand {
        font-size: 13px !important;
    }
    .item {
        font-size: 15px !important;
    }
    .item_box {

        margin-bottom: 4.7%  !important;
        width: 85.5%  !important;
    }
    .item_img {

        width: 30% !important;

    }
    .item_detail{
        padding: 0 0 0 3px !important;
        width: 70% !important;
    }
    .old_price {
        font-size: 11px  !important;
        margin-bottom: 0 !important;

    }
    .percentage {

        font-size: 11px !important;
    }
    .new_price {
        font-size: 11px !important;
    }
    .card_shopper_name_container {

        font-size: 12px !important;
    }
    .card_detail_title {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .card_detail_detail {
        font-weight: 700 !important;
        font-size: 11px !important;
    }
    .alarm-btn {

        height: 26px !important;
        font-weight: 500;
        font-size: 12px !important;

    }
}





.card_mob{
    display:none;
}

.carousel_slider{
    display:contents;
}
.main_container{
    width: 100%;
    height: 59.2vh;
    background-color: #F32C98;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
}
.main_slogan_container{
    display: flex;
    flex-direction:column;

    position: relative;
    left: 21.1vw;
}
.slogan_main_mob{
    display:none;
}

.slogan_live{
    color: #FFD79A;
    font-size: 1.45vw;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 1rem;
}
.main_slogan{
    color: #fff;
    font-size: 2.81vw;
    line-height: 1.26;
    font-weight: 700;
    margin-bottom: 12px;
}
.slogan_sub{
    color: #FFBADC;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.25;

}
.main_sub_container{
    margin-top: 9.12vh;
    width: 100%;
    position: relative;
    border-top: 1px solid #FF6AB5;
    height: 11.2vh;
    display: flex;
    align-items:center;
}

.main_sub_box{
    display: flex;
    flex-direction:column;

}
.main_sub_box:first-child{
    margin-right: 5.83vw;
    position:relative;
    margin-left: 21.1vw;
}
.sub_title{
    color: #FF9DCE;
    font-weight: 700;
    font-size: 0.83vw;
    line-height: 1.25;
}
.sub_content{
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.25;
    color: #FFE2F1;
}
.main_img{
    position: absolute;
    width: 18vw;
    height: 60.9vh;
    top: 7.96vh;
    left: 55.4vw;
    display:flex;
    align-items:flex-end;
    background-size: cover;
    background-position:center;
}
.main_img img{
    position:absolute;
    max-height: 100%;
    bottom:0;
    filter: drop-shadow(16px 11px 70px rgba(0, 0, 0, 0.15));
}
.main_box{
    margin-bottom: 5.37vh;
    margin-left: 1.97vw;
    width: 10vw;
}
.main_item_box{
    width: 30% !important;
}
.main_detail_box{
    font-size:0.72vw;
    width:70% !important;
}


.upcoming_container{
    display: flex;
    background: #fff;
    justify-content: center;
}
.upcoming_contents_container{
    width: 57.7vw;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.upcoming_title{
    color: #222222;
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 1.25;
    margin-bottom: 1.1vh;
    margin-top: 20.7vh;
}
.upcoming_buttons{
    font-weight: 400;
    font-size: 0.83vw;
    color: #666666;
    display:flex;
    width: 9.1vw;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 3.14vh;

}
.upcoming_cards{
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}
.upcoming_card{
    display:flex;
    flex-direction: column;

}
.card:before, .card:after {
    content: none;
}
.card{
    width: 13.6vw;
    height: 20.4vw;
    border-radius: 10px;
    margin-bottom:1.58vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.card_img1{
    background-image: url('https://cdn.imweb.me/upload/S2022030392bbf1de71822/3164ece30a4ff.png');
    background-position:center;
    background-size: cover;
}
.card_img2{
    background-image: url('https://cdn.imweb.me/upload/S2022030392bbf1de71822/4ef9c26225bbe.png');
    background-position:center;
    background-size: cover;
}
.card_img3{
    background-image: url('https://cdn.imweb.me/upload/S2022030392bbf1de71822/01c98e41388cd.png');
    background-position:center;
    background-size: cover;
}
.card_img4{
    background-image: url('https://cdn.imweb.me/upload/S2022030392bbf1de71822/a9dd53309bfbd.png');
    background-position:center;
    background-size: cover;
}
.card_bg_grad{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2795) 6.25%, rgba(0, 0, 0, 0.1118) 20.31%, rgba(0, 0, 0, 0.00443295) 37.5%, rgba(0, 0, 0, 0) 78.12%, rgba(0, 0, 0, 0.1204) 91.67%);
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card_titles{
    z-index:100;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    width: 11.78vw; margin-top: 19px;
}

.brand{
    font-size: 0.9375vw;
    line-height: 1.56;

}
.item{
    font-size: 1.25vw;

}
.item_box{
    z-index:100;
    display:flex;
    width: 11.78vw;
    margin-bottom: 19px;
}
.item_img{
    background-color: #fff;
    border-radius: 5px 0px 0px 5px;
    width: 3.54vw;
    height: 5.92vh;

    padding:5px;
}
.item_img_0{
    background-image:url("https://cdn.imweb.me/upload/S2022030392bbf1de71822/b12916a460bfd.png");
}
.item_img_1{
    background-image:url("https://cdn.imweb.me/upload/S2022030392bbf1de71822/15e4af5704657.png");
}
.item_img_2{
    background-image:url("https://cdn.imweb.me/upload/S2022030392bbf1de71822/4120a135f1916.png");
}
.item_img_3{
    background-image:url("https://cdn.imweb.me/upload/S2022030392bbf1de71822/09455bdba2c0b.png");
}
.item_img_4{
    background-image:url("https://cdn.imweb.me/upload/S2022030392bbf1de71822/f697aab009e11.png");
}
.item_inner_img_box{
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.item_detail{
    width: 8.125vw;
    height: 5.92vh;
    background: rgba(0, 0, 0, 0.53);
    border-radius: 0px 5px 5px 0px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding: 0.72vw 0.572vw;
}
.old_price{
    text-decoration-line: line-through;
    color: #A8A8A8;
    font-size: 0.625vw;
    font-weight: 500;
    margin-bottom:5px;
    line-height: 104%;
}
.percentage{
    color: #FF3939;
    width: 2.4vw;
    font-size: 0.73vw;
}
.new_price{
    color: #fff;
    font-size: 0.9vw;
}
.card_detail_container{
    display:flex;
    flex-direction:column;
}
.card_shopper_name_container{
    display:flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.729vw;
    margin-bottom: 5px;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: #D8D8D8;
    border-radius: 50%;
    margin-right: 8px;
}
.circle_img1{
    width: 100%;
    height: 100%;
    background-image:url('https://cdn.imweb.me/upload/S2022030392bbf1de71822/2ab02cf4c5d3c.png');
    border-radius:50%;
}
.circle_img2{
    width: 100%;
    height: 100%;
    background-image:url('https://cdn.imweb.me/upload/S2022030392bbf1de71822/47f1291557446.png');
    border-radius:50%;
}
.circle_img3{
    width: 100%;
    height: 100%;
    background-image:url('https://cdn.imweb.me/upload/S2022030392bbf1de71822/2c064ea025a91.png');
    border-radius:50%;
}
.circle_img4{
    width: 100%;
    height: 100%;
    background-image:url('https://cdn.imweb.me/upload/S2022030392bbf1de71822/4829e7d60aec2.png');
    border-radius:50%;
}
.card_detail_title{
    font-weight: 500;
    font-size: 0.9375vw;
    color: #222222;
    margin-bottom: 8px;
}
.card_detail_detail{
    font-weight: 400;
    font-size: 0.729vw;

    margin-bottom: 14px;
}

.grey{
    color: #777777;
}
.lightpink{
    color: #FF6DBC;
}
.alarm-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 2.4vh;
    border: 1px solid #FE0F90;
    border-radius:50px;
    font-weight: 500;
    font-size: 0.625vw;
    color: #FE0F90;
    background: #fff;
}
.upcoming_carousel{
    display:flex;
    width: 4.58vw;
    justify-content:space-between;
    margin-bottom: 124px;
}

.selected{
    width: 1.875Vw;
    left: 47.7vw;
    background: #F5138E;
    border-radius: 30px;
}
.carousel{
    width: 0.625vw;
    height: 0.625vw;
    border-radius: 50%;
    background: #E8E8E8;
}
